@media only screen and (max-width:799px){

body { background-color: #fff; color: #000;   margin: 0;}

body, p, ol, ul, td {
  font-family: Sans, Tahoma;
  font-size:   18px;
  color: #000;
  line-height: 18px;
  width: 100%;
  overflow-x: hidden;
}
p{
  margin: 0 0 10px 0;
  padding: 0;
}

h1{
  margin: 0;
}
h2, h3{
  margin: 0 0 7px 0;
}

pre {
  background-color: #AAE8E8;
  padding: 10px;
  font-size: 12px; /* tu mniej niz body zeby bylo ladnie */
  margin: 0 0 0 0;
  
}
hr{
  width: 70%;
  height: 1px;
  border: none;
  background: black;
  text-align: left;
  margin: 0 0 20px 0;
}
a{
  outline: none;
  border-radius: 5px;
  display: inline-block;
  width: 60px;
  height: 25px;
  line-height: 25px;
  border: 1px solid black;
  background:  #02B0D7;
  color: #000;
  text-decoration: none;
  font-size: 14px;
  text-align: center;
}
a:visited { color: #000; }
a:hover{
  color: #F5F5F5;
  background-color:#953533;
}
input[type=text]{
  width: 150px;
}

div.field, div.actions {
  margin-bottom: 10px;
}
.field textarea, .field select, .field input[type=text]{
   margin-top: 10px;
}
.field textarea{
  min-width:95%;
  max-width: 95%;
  min-height: 200px;
}
input[type=submit]{
  width: 128px;
  height: 25px;
}

#notice {
  color: green;
  padding: 0;
  margin: 0;
  text-align: center;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #c00;
  color: #fff;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}
.highlight{

}

.highlight2{
  border: 1px dashed #999;
  width: 98%;
  margin: 10px auto 0 auto;
  word-wrap: break-word;

}

#header{
  width: 100%;
  text-align: center;
  background: #02B0D7;
  margin: 0 auto 5px auto;

}
#hwraper{
  margin: 0 auto 0 auto;
  width: 100%;
  position: relative;
}
#head{
  margin: 0 auto 0 auto;
  padding: 10px 0 10px 0;
}

#menu{
  margin-top: 10px;

}
#menu a,#menu a:link, #menu a:visited{
  outline: none;
  border-radius: 6px;
  display: inline-block;
  margin: 0 5px 0 5px;
  line-height: 70px;
  width: 90px;
  height: 70px;
  font-size: 16px;
  color: black;
  text-decoration: none;
  text-align: center;
  border: none;
}
#menu a:active{
  background: #953533;
}
#menu a:hover{
  background: #029DBF;
}

#wraper{
  padding: 5px 5px 5px 5px;
  width: 98%;
}
/* TUTAJ PREZENACJA DANYCH */
#gistsContainer{
  text-align: center;
}
.indexBody{
  text-align: left;
  background: #E9E9E9;
  vertical-align: top;
  display: inline-block;
  margin: 6px 3px 6px 3px;
  padding:10px;
  border: 1px solid #939393;
  border-radius: 10px;
  width: 221px;
}
.indexBody div{
  margin: 5px 0 5px 0;
}
#actions{
  margin-top: 10px;
  width: 100%;
  text-align: center;
}

#show_snippet{
 background: #AAE8E8;
 border: 1px dashed #999;
 width: 220px;
}
.ih{
  font-size: 12px;
}
.ih hr{
  width: 100px;
  margin-bottom: 1px;
}
/* //////////////////// */
#showLinks{
  text-align: right;
}

.pagination{
  width: 100%;
  text-align: center;
  margin: 10px;
}
.pagination a, .pagination a:visited, .pagination a:link{
  display: inline;
  border: none;
  background: none;
  font-size: 18px;
}
.pagination a:hover{
  color:  #953533;
}
.current{
  color: #02B0D7;
}

#footer{
  width: 100%;
  text-align: center;
  color: black;
  font-size: 12px;
}
#footer a,#footer a:visited, #footer a:link{
  font-size: 12px;
  display: inline;
  color: #02B0D7;
  background: none;
  border: none;
}
#footer a:hover{

  text-decoration: underline;
}

#searchForm{
  margin: 0 0 20px 0;
}
.prompt{
  font-size: 12px;
  color: #555;
}
img[alt=logo]{

  margin: 0 20px 0 0;
}


.user_a, .user_a:link, .user_a:visited{
  margin: 0;
  padding: 0;
  font-size: 1em;
  display: inline;
  border: none;
  background: none;
  color: #02B0D7;
}
.user_a:hover{
  background: none;
  color: #02B0D7;
  text-decoration: underline;
}
#userWraper{
  width: 100%;
  margin: 15px auto 10px auto;
  text-align: center;
}
#userWraper p{
  margin: 0;
}

#user_notice{
}
#user_info{
  margin-bottom: 5px;
}
#user_notice{
  
}
#search table{
  width: 310px;
}

}

